.header{
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2rem;
}

/* Logo */
.logo{
    display: inline-block;
    color: black;
    font-size: 2rem;
    margin-left: 10px;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 1rem 1rem;
}
   
/* Style label tag */
.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} 

* Style span tag */
.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} 
/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

