/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap"); /* import font */

:root {
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
} /* variables*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  font-family: "Oxygen", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Header */
.header {
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
/* Logo */
.logo {
  display: inline-block;
  color: black;
  font-size: 2rem;
  margin-left: 10px;
}

/* Nav menu */
.nav {
  width: 100%;
  height: fit-content;
  position: fixed;
  background-color: #f9f9f9;
  overflow: hidden;
  margin-top: 2.6rem;
}
.menu a {
  display: block;
  padding: 30px;
  color: black;
}
.menu a:hover {
  background-color: var(--gray);
}
.nav {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 1rem 1rem;
} /* Style label tag */

.hamb-line {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.5s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.mainContent {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.caption {
  padding: 1rem;
  margin: auto;
}

img {
  width: 80%;
  height: auto;
  object-fit: cover;
  padding: 1rem;
  margin: auto;
}

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}

/* Responsiveness */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  #root {
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .link {
    color: black;
  }

  .active {
    color: #8b1c1c;
  }

  .nav {
    max-height: 100%;
    top: 0;
    position: static;
    width: fit-content;
    background-color: #f9f9f9;
    color: black;
  }

  header#sideNav.header {
    width: 20%;
    height: 100%;
    padding: 1rem 0.5rem;
    background-color: #f9f9f9;
    color: black;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .header a,
  .nav a {
    color: black;
  }

  .nav a:hover {
    color: #8b1c1c;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu a {
    padding: 0.4rem;
    padding-left: 0;
  }

  .nonArtLinks {
    margin-top: 2rem;
  }

  a.logo {
    margin-left: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  /* #mainContent {
        display: flex;
        width: 100%;
        overflow-x: scroll;
    } */

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    padding: 60px 0;
    margin: auto;
    margin-right: 5rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    align-items: center;
    /* align-items:baseline; */
    /* margin-left: 4rem; */
  }

  .innerImages {
    display: flex;
  }

  .collectionImage {
    flex-shrink: 0;
    width: 30%;
    height: auto;
  }

  #about {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
  }

  .caption {
    /* margin-left: 4rem; */
    margin-top: auto;
    padding: 1rem;
    font-size: 0.8rem;
    display: flex;
  }

  .hamb {
    display: none;
  }

  .form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
  }
  .form-style-1 input[type="text"],
  .form-style-1 input[type="date"],
  .form-style-1 input[type="datetime"],
  .form-style-1 input[type="number"],
  .form-style-1 input[type="search"],
  .form-style-1 input[type="time"],
  .form-style-1 input[type="url"],
  .form-style-1 input[type="email"],
  textarea,
  select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
  }
  .form-style-1 input[type="text"]:focus,
  .form-style-1 input[type="date"]:focus,
  .form-style-1 input[type="datetime"]:focus,
  .form-style-1 input[type="number"]:focus,
  .form-style-1 input[type="search"]:focus,
  .form-style-1 input[type="time"]:focus,
  .form-style-1 input[type="url"]:focus,
  .form-style-1 input[type="email"]:focus,
  .form-style-1 textarea:focus,
  .form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88d5e9;
    -webkit-box-shadow: 0 0 8px #88d5e9;
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
  }
  .form-style-1 .field-divided {
    width: 49%;
  }

  .form-style-1 .field-long {
    width: 100%;
  }
  .form-style-1 .field-select {
    width: 100%;
  }
  .form-style-1 .field-textarea {
    height: 100px;
  }
  .form-style-1 input[type="submit"],
  .form-style-1 input[type="button"] {
    background: #4b99ad;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
  }
  .form-style-1 input[type="submit"]:hover,
  .form-style-1 input[type="button"]:hover {
    background: #4691a4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .form-style-1 .required {
    color: red;
  }
}
